{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Demo Login
{% endblock title%}

{% block content %}
<div>
    <h1 class="text-uppercase fw-bold blue-txt"> <i class="fa-solid fa-bug"></i>Bug Tracker </h1>
    <h2 class="mb-2 text-uppercase blue-txt">Login as a Demo User</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="mt-2 btn table-btn" type="submit">Demo Login</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="mt-2 alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    

    <p class="pt-5 fw-bold text-muted">Want a real account? <a href="{% url 'account_signup' %}">Sign Up</a></p>
    <p class="fw-bold text-muted">Already have an account? <a href="{% url 'account_login' %}">Login</a></p>
</div>
{% endblock content %}