{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div>
    <h2 class="fw-bold mb-2 text-uppercase blue-txt">{% trans "Reset Link Sent" %}</h2>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="fw-bold text-muted">
        {% blocktrans %}
            We have sent you a link to your email addresses to reset your password. If you have not received it please check your spam folder. 
        {% endblocktrans %}
    </p>
</div>

    
{% endblock %}