{% extends "page_layout.html" %}
{% block title %}
    Archive
{% endblock title %}

{% block content %} 
<div class="container">
    <div class="table-container p-3">
        <h4>Archived Projects</h4>
        <a href="{% url 'my_projects' %}" class="table-link">
            Back to Projects
        </a>
        <table class="table table-striped table-hover table-bordered table-sm" id="projects-table">
            <caption>List of archived projects</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>More</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.title }}</td>
                    <td>{{ project.description}}</td>
                    <td>
                        <a href="{{ project.get_absolute_url}}" class="table-link">Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('#projects-table').DataTable();
    });
</script>
{% endblock extra_js %}