{% extends "page_layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Create Project
{% endblock title %}

{% block content %} 
<div class="container">
    <div class="table-container p-3">
        <h4>New Project</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn table-btn" type="submit" {% if request.user.is_demo %} disabled {% endif %}>
                Create Project
            </button>
    
        </form>
    </div>
</div>
{% endblock %}
