{% extends "page_layout.html" %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="table-container p-3">
                <h4># Tickets By Status</h4>
                <canvas id="statusChart" width="400" height="400"></canvas>
                <script>
                    const status_context = document.getElementById('statusChart').getContext('2d');
                    const statusChart = new Chart(status_context, {
                        type: 'bar',
                        data: {
                            labels: [
                                {% for status in statuses %}
                                    '{{ status.status }}',
                                {% endfor %}
                            ],
                    datasets: [{
                        data: [
                            {% for status in statuses %}
                                    {{ status.count }},
                    {% endfor %}
                    ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderWidth: 1
                            }]
                        },
                    options: {
                        plugins: {
                            legend: {
                                display: false
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true,
                                    ticks: {
                                    stepSize: 1
                                }
                            }
                        }
                    }
                    });
                </script>

            </div>
        </div>
        <div class="col">
            <div class="table-container p-3">
                <h4># Tickets By Type</h4>
                <canvas id="typeChart" width="400" height="400"></canvas>
                <script>
                    const type_context = document.getElementById('typeChart').getContext('2d');
                    const typeChart = new Chart(type_context, {
                        type: 'doughnut',
                        data: {
                            labels: [
                                {% for type in types %}
                                    '{{ type.type }}',
                                {% endfor %}
                            ],
                    datasets: [{
                        data: [
                            {% for type in types %}
                                    {{ type.type_count }},
                    {% endfor %}
                    ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            }]
                        },
                    });
                </script>
            </div>

        </div>
    </div>
</div>
{% endblock content %}